{% extends 'users/base.html' %}

{% block content %}

{% load static %}

<style type="text/css" >

  @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i');

  *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('{% static 'Site-pics/DGDL0001.JPEG' %}')no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;

  }
  .form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
  }

h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox{
  position: relative;
  margin: 30px, 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
}
.input:focus ~ label, 
.input:valid ~ label{
  top: -5px;
}
.inputbox input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.forgot{
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: center;
}
.forgot label input{
  margin-right: 3px;
}
.forgot label a{
  color: #fff;
  text-decoration: none;
}
.forgot label a:hover{
  text-decoration: underline;
}
button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}

  </style>
  
  <section>
    <div class="form-box">
      <div class="form-value">
        <form method="POST">
          {% csrf_token %}
          <h2>Sign Up</h2>
          <div class="inputbox">
            <input type="email", name='email', required>
            <label for="">Email</label>
          </div>
          <div class="inputbox">
            <input type="username", name='username', required>
            <label for="">Username</label>
          </div>
          <div class="inputbox">
            <input type="password", name='password1', required>
            <label for="">Password</label>
          </div>
          <div class="inputbox">
            <input type="password", name='password2', required>
            <label for="">Confirm Password</label>
          </div>
          <button>Register</button>
        </form>
        {% for field in registration_form %}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% if registration_form.non_field_errors %}
          <p style="color: red;">{{ registration_form.non_field_errors }}</p>
        {% endif %}
      </div>
    </div>
   
  
  <!--</section>

    <main class="form-signin w-100 m-auto">
      <form method="POST">
        {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
  
      <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
        <label for="floatingEmail">Email address</label>
      </div>
      <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username" required>
        <label for="floatingUsername">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password1" class="form-control" id="floatingPassword1" required>
        <label for="floatingPassword1">Password</label>
      <div class="form-floating">
          <input type="password" name="password2" class="form-control" id="floatingPassword2" required>
          <label for="floatingPassword2">Confirm password</label>
          <br>
        {% for field in registration_form %}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% if registration_form.non_field_errors %}
          <p style="color: red;">{{ registration_form.non_field_errors }}</p>
        {% endif %}
  
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      </form>
    </main>-->

{% endblock %}

